{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>MoneyTalk ✅</h1>


    {% if app.user %}
        <a href="{{ path('app_logout') }}">LOGOUT</a>
        <h1>WELCOME {{ app.user.uniqName}} ! </h1>
        <a href="{{ path('money_pot_index') }}"> Your MoneyPots ! </a>
        {% dump(app.user) %}
    {% else %}
        <a href="{{ path('register') }}">REGISTER</a>
        <a href="{{ path('app_login') }}">LOGIN</a>
    {% endif %}
</div>
{% endblock %}
